* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    
    font-family: Arial, Helvetica, sans-serif;
}

select, .submit {
    background-color: rgb(220, 26, 26);
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 3px;
    color: #fff;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    margin: 20px auto;
    transition: color .35s linear, background-color .35s linear;
}

option {
    color: rgb(220, 26, 26);
    background-color: #fff;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

select:hover, .submit:hover {
    color: rgb(220, 26, 26);
    background-color: #fff;
}

.submit {
    margin-left: 10px;
}

img {
    width: 250px;
    margin-bottom: 8px;
}

h1 {
    position: absolute;
    top: 0;
    margin-top: 20px;
    font-size: 1.3em;
    text-decoration: underline #fff;
}

h2 {
    text-align: center;
    font-size: 1.3em;
    margin: 20px 0;
}

.containerImg {
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

h3 {
    color: rgb(220, 26, 26);
}

div, p {
    display: inline-block;
}

.containerDiv {
    width: 100%;
}

.contentDiv1 {
    margin-right: 15px;
    float:left;
}

.contentDiv2 {
    margin-left: 15px;
    margin-right: 0px;
    float:right;
}

.content {
    margin-top: 3px;
}

p {
    margin-bottom: 5px;
}

.cMargin {
    margin-bottom: 10px;
}

/* Menu style */

header {
    margin:0;
    width:500px;
}

main {
    display: block;
}

ul{
    list-style:none;
}

.content > li {
    float:left;
}

li{
    text-transform: uppercase;
}

.right {
    border-right: 2px solid #880f0f;
}

nav li a {
    background-color: rgb(203, 0, 0);
    color:#fdf1f1;
    text-decoration:none;
    padding:1rem;
    display:block;
}

nav li a:hover {
    background-color: #7a0101;
}

nav li ul {
    display:none;
    position:relative;
    min-width:140px;
}

nav li:hover > ul {
    display:block;
}

nav li ul li {
    position:relative;
}

nav li ul li ul {
    right:-140px;
    top:0px;
}

/* Information Season */

@font-face {
    font-family: "Formula1-Wide";
    src: url("../fonts/Formula1-Wide.otf") format("opentype");
}

.informationSeasonP {
    font-family: "Formula1-Wide.otf";
    color: #E22420;
    margin: auto;
    margin-top: 50%;
    font-size: 3.2em;
    font-style: oblique;
}